<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Number Generator</title>
  </head>
  <body>
    <h3>How Many number you would like to generate?</h3>
    <form action="/generate" method="get">
      <input
        type="number"
        name="number"
        id="number"
        placeholder="Enter Number 1-30"
      />
      <button type="submit">Generate</button>
    </form>

    <hr />
    <p>Generated :</p>
    <div>
      <span data-th-each="number:${numberarray}">
        <img data-th-src="@{/img/{i}.png(i=${number})}" />
      </span>
    </div>
  </body>
</html>
