<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Back to Index</a>
    <h3>opsValue Sample</h3>
    <form action="/opsValue" method="post">
      <input type="text" name="name" id="name" />
      <button type="submit">Submit</button>
    </form>
    <br />
    <hr />

    <p>Redis Data (testname):</p>
    <p data-th-text="${name}"></p>
    
  </body>
</html>
