<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Back to Home</a>
    <h3>Page09 - Path Variable</h3>
    <hr />
    <p>This Page Show the Example Of Path Variable</p>
    <a href="/page09/get/namesample">Submit with namesample</a>

    <br />
    <hr />

    <p>Data Received and Returned From Controller:</p>
    <li data-th-text="${name}"></li>

    <br />
    <br />
  </body>
</html>
