<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Back to Home</a>
    <h3>Page05 - Redirect (Before)</h3>
    <hr />
    <p>This Page Show the Example to Redirect</p>
    <p>The Link Below will send a Get Request to ../page05/test</p>
    <p>Page 5 Controller will return with "redirect:/page06";</p>
    <a href="/page05/test">Test Redirect (will be redirect to page 06)</a>


  </body>
</html>
