<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Back to Home</a>
    <h3>Add Address</h3>
    <hr />

    <form th:action="@{/add}" th:object="${contact}" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" th:field="*{name}" />
      <div th-if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <br />
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" th:field="*{email}"/>
      <div th-if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      <br />
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" id="phone" th:field="*{phone}"/>
      <div th-if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
      <br />
      <label for="dob">DOB :</label>
      <input type="date" name="dob" id="dob" th:field="*{dob}"/>
      <div th-if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></div>
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
